body {
	background-color: #2B6301;
	color: #FFFFFF;
	font-family: 'Georgia', serif;
	padding: 40px;
	line-height 1.6;
	text-align: center;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5em;
	margin-bottom: 20px;
}

p {
	font-size:1.2em;
}

.button-group {
	margin-top:30px;
	text-align: center;
}

.nav-button {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 20px;
	background-color: #E6C981;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	font-size: 1em;
	transition: background-color 0.3s ease;
}

.nav-button:hover {
	background-color: #C4A250;
}